<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidactivities.caloriecount">
    @style/Theme.AppCompat.NoActionBar
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_weightlossicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PageOne" />
        <activity android:name=".dayOneInterface" />
        <activity android:name=".dayOneFood" />
        <activity android:name=".Display_Database" />
        <activity android:name=".GraphNetCalorie" />
        <activity android:name=".PieChartNetCalories" />
        <activity android:name=".LineChartCalories" />
        <activity android:name=".CalorieBMICalculator" />
        <activity android:name=".CalorieResults" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>